<nav>
    <div class="wrapper">
        <a href="/">
            <h1>cinemagram
                <i class="fas fa-film"></i>
            </h1>

        </a>
        <a href="/login">
            <button>Log In</button>
        </a>
    </div>
</nav>