<div class="wrapper">

    <div id="gallery">
        {{#each item}}
        <div class="gallery-listing">
            <img src={{link}}>
            <a href="/gallery/{{id}}">{{title}}</a>

        </div>
        {{/each}}
    </div>
</div>