<div class="wrapper">
    {{>header}}
    <div class="gallery-container">
        {{titile}}
        <img src={{link}}>
        <p>{{description}}</p>
        <p>{{author}}</p>
    </div>

    <br>{{>footer}}
</div>