<div class="wrapper">
    {{>header}}
    <div class="gallery-container">
        <h3>{{title}}</h3>
        <img src={{link}}>
        <p>{{description}}</p>
        <p>Director: {{author}}</p>
    </div>

    <br>{{>footer}}
</div>