<div class="wrapper login">
    <div class="logo">
        <a href="/">
            <h1>cinemagram
                <i class="fas fa-film"></i>
            </h1>
        </a>
    </div>
    <form action="/register" method='post' class='form'>
        <label for='user'></label>
        <input type="text" placeholder="Enter Username" name="username" id='user' required>
        <label for='password'>Password</label>
        <input type="password" placeholder="Enter Password" name="password" id='password' required>
        <input type="submit" name='submit' class='submit_btn'>
    </form>
    <h3>Not a User? Please create Account:</h3>
    <div class="logo">
        <a href="/register">
            <button><a href="/register">CREATE ACCOUNT</a></button>
        </a>
    </div>
    <br>{{>footer}}
</div>